@page
@model FitnessTracker.Pages.ExerciseDisplayModel
@{
	ViewData["Title"] = "Exercise Details";
}

<h1>@ViewData["Title"]</h1>

<h1>Details</h1>

<div>
    <h4>LogEntryData</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.targetMuscles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.targetMuscles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.bodyParts)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.bodyParts)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.equipments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.equipments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.secondaryMuscles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.secondaryMuscles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExerciseData.instructions)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExerciseData.instructions)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./ExerciseSearch" asp-route-query="@Model.SearchQuery">Back To Search Results</a>
</div>
